.header{
	background: #000;
	padding: 16px;
}
.header h1{
	margin: 0;
	color: white;
}

.col-input{
	border-right: 1px solid #EEE;
}

.col-input .user-template, .col-input .cs-template, .col-input .voice-template{
	display: none;
}

.col-input .conversation{
	overflow-y: auto;
}

.col-input .conversation .chat{
	margin: 8px 0;
}
.col-input .conversation .chat .name{
	color: #09F;
	font-weight: bold;
}

.col-input .conversation .cs .name {
	color: red;
}

.col-input .user .mic{
	width: 24px;
	margin-left: 8px;
	padding: 4px;
}

.col-input .user .mic:hover {
	background: #EEE;
}

.col-input .remark{
	position: relative;
}

.col-input .remark .btn-save{
	position: absolute;
	bottom: 8px;
	right: 8px;
}

#remark{
	background-color: transparent;
	border: 0;
	width: 100%;
	height: 100%;
	resize: none;
	outline: 0;
}


.col-helps .categories, .col-helps .suggestions{
	overflow-y: auto;
}

.col-helps h2{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
}

.col-helps .categories li, .col-helps .suggestions li{
	list-style: none;
	width: 150px;
	float: left;
	padding: 4px 0;
	color: #999;
	cursor: pointer;
}

.col-helps .suggestions li{
	min-width: 190px;
	padding-left: 4px;
}

.col-helps .categories li.active, .col-helps .suggestions li.active{
	color: #000;
}

.col-helps .suggestions li.selected{
	background: #EEE;
	color: black
}

.col-helps .actions h4{
	margin: 30px 0 10px 0;
}

.popover-template{
	display: none
}